Xft.dpi: 144

! URxvt configuration
! -------------------
URxvt.font: xft:Iosevka Term:pixelsize=20, xft:DejaVu Sans Mono:pixelsize=20, xft:Sarasa Term J:pixelsize=20, xft:Noto Color Emoji:pixelsize=20, xft:Symbola:pixelsize=20
URxvt.geometry: 100x20
URxvt.scrollBar: false
URxvt.saveLines: 8192
URxvt.urgentOnBell: true
URxvt.internalBorder: 15
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #666666

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #b7ce42
*.color10:      #bde077

! yellow
*.color3:       #fea63c
*.color11:      #ffe863

! blue
*.color4:       #66aabb
*.color12:      #aaccbb

! magenta
*.color5:       #b7416e
*.color13:      #e16a98

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #dddddd
*.color15:      #cccccc
