! Rofi configuration
! ------------------
rofi.lines: 8
rofi.width: 45
rofi.padding: 35
rofi.bw: 2
rofi.font: Sansation 16

rofi.color-enabled: true
rofi.separator-style: solid
rofi.color-window: #26201d, argb:bbe25100, argb:cce25100
rofi.color-normal: argb:0000000, #fa8600, argb:0000000, #fa8600, #26201d
rofi.color-active: argb:0000000, #889940, argb:0000000, #889940, #26201d
rofi.color-urgent: argb:0000000, #9e4537, argb:0000000, #9e4537, #26201d

! URxvt configuration
! -------------------
URxvt.font: xft:PragmataPro:style=bold:pixelsize=13
URxvt.scrollBar: false
URxvt.urgentOnBell: true
URxvt.lineSpace: 1
URxvt.letterSpace: -1
URxvt.internalBorder: 15

! Transparency
URxvt.depth: 32

*foreground:    #ffffff
*background:    #111111
*cursorColor:   #ffffff

URxvt*color0:   #202020
URxvt*color1:   #e0e0e0
URxvt*color2:   #bbbbbb
URxvt*color3:   #888888
URxvt*color4:   #27aac4
URxvt*color5:   #606060
URxvt*color6:   #55d0e0
URxvt*color7:   #ffffff

URxvt*color8:   #202020
URxvt*color9:   #e0e0e0
URxvt*color10:  #bbbbbb
URxvt*color11:  #888888
URxvt*color12:  #27aac4
URxvt*color13:  #606060
URxvt*color14:  #55d0e0
URxvt*color15:  #ffffff
