! Rofi configuration
! ------------------
rofi.lines: 8
rofi.width: 45
rofi.padding: 35
rofi.bw: 2
rofi.font: Sansation 16

rofi.color-enabled: true
rofi.separator-style: solid
rofi.color-window: #111111, #55d0e0, #55d0e0
rofi.color-normal: argb:0000000, #606060, argb:0000000, #111111, #55d0e0
rofi.color-active: argb:0000000, #55d0e0, argb:0000000, #55d0e0, #111111
rofi.color-urgent: argb:0000000, #a021ce, argb:0000000, #a021ce, #111111

! URxvt configuration
! -------------------
URxvt.font: xft:PragmataPro:style=bold:pixelsize=13
URxvt.scrollBar: false
URxvt.urgentOnBell: true
URxvt.lineSpace: 1
URxvt.letterSpace: -1
URxvt.internalBorder: 15

! Transparency
URxvt.depth: 32

*foreground:    #ffffff
*background:    #111111
*cursorColor:   #ffffff

URxvt*color0:   #202020
URxvt*color1:   #c423ff
URxvt*color2:   #bbbbbb
URxvt*color3:   #888888
URxvt*color4:   #27aac4
URxvt*color5:   #606060
URxvt*color6:   #55d0e0
URxvt*color7:   #ffffff

URxvt*color8:   #1a1a1a
URxvt*color9:   #a021ce
URxvt*color10:  #aaaaaa
URxvt*color11:  #777777
URxvt*color12:  #1b95ad
URxvt*color13:  #505050
URxvt*color14:  #37aaba
URxvt*color15:  #dddddd
