! Rofi configuration
! ------------------
rofi.lines: 8
rofi.width: 45
rofi.padding: 35
rofi.bw: 2
rofi.font: Sansation 16

rofi.color-enabled: true
rofi.separator-style: solid
rofi.color-window: #26201d, argb:bbe25100, argb:cce25100
rofi.color-normal: argb:0000000, #fa8600, argb:0000000, #fa8600, #26201d
rofi.color-active: argb:0000000, #889940, argb:0000000, #889940, #26201d
rofi.color-urgent: argb:0000000, #9b4e45, argb:0000000, #9b4e45, #26201d

! URxvt configuration
! -------------------
URxvt.font: xft:Terminusmodx:Bold:pixelsize=12
URxvt.scrollBar: false
URxvt.urgentOnBell: true

! Transparency
URxvt.depth: 32

URxvt.foreground:  #977d5e
URxvt.background:  rgba:2600/2000/1d00/f000
URxvt.cursorcolor: #977d5e

URxvt.color0:      #26201d
URxvt.color1:      #986345
URxvt.color2:      #788249
URxvt.color3:      #aa843d
URxvt.color4:      #3a4f54
URxvt.color5:      #7f4039
URxvt.color6:      #5d796a
URxvt.color7:      #977d5e

URxvt.color8:      #3F3530
URxvt.color9:      #ad7a5d
URxvt.color10:     #889940
URxvt.color11:     #b9924a
URxvt.color12:     #4b666d
URxvt.color13:     #9b4e45
URxvt.color14:     #749b86
URxvt.color15:     #c9a77c
