configuration {
    width: 100;
    padding: 800;
    lines: 9;
    font: "Roboto Mono 24";
    bw: 0;
    separator-style: "solid";
    color-normal: "argb:00000000, #999999, argb:00000000, argb:00000000, #1f3b63";
    color-window: "argb:ee040605, #1f3b63, #1f3b63";
}
