bar-list = ["bar1"];

bar1: {
	font: "Terminusmod, FontAwesome 10";
	block-list: ["title", "workspaces", "media", "disk", "battery", "date"];
	position: "top";
	height: 30;
	background-color-rgb: 0x2d2123;

	gap-horizontal: 15;
	gap-vertical: 10;
	underline-size: 2;
	overline-size: 0;
	slack-size: 0;

	title: {
		exec: "~/.config/yabar/scripts/title.sh";
		type: "persist";

		align: "left";
		fixed-size: 300;
		foreground-color-rgb: 0xfbfed3;
		background-color-rgb: 0x2d2123;
		underline-color-rgb: 0xd33200;
	}
	workspaces: {
		exec: "~/.config/yabar/scripts/workspaces.sh";
		type: "persist";
		pango-markup: true;
		command-button4: "bspc desktop -f prev";
		command-button5: "bspc desktop -f next";

		align: "center";
		fixed-size: 200;
		foreground-color-rgb: 0xfbfed3;
		background-color-rgb: 0x2d2123;
	}
	media: {
		exec: "echo "
		type: "persist";
		command-button1: "~/.config/yabar/scripts/media.sh";

		align: "right";
		fixed-size: 30;
		foreground-color-rgb: 0xfbfed3;
		background-color-rgb: 0x2d2123;
		underline-color-rgb: 0x724554;
	}
	disk: {
		exec: "~/.config/yabar/scripts/disk.sh";
		type: "periodic";
		interval: 7200;

		align: "right";
		fixed-size: 60;
		foreground-color-rgb: 0xfbfed3;
		background-color-rgb: 0x2d2123;
		underline-color-rgb: 0x3a4f54;
	}
	battery: {
		exec: "~/.config/yabar/scripts/battery.sh";
		type: "periodic";
		interval: 2;

		align: "right";
		fixed-size: 60;
		foreground-color-rgb: 0xfbfed3;
		background-color-rgb: 0x2d2123;
		underline-color-rgb: 0x724554;
	}
	date: {
		exec: "YABAR_DATE";
		internal-option1: "%A, %b %e %Y %l:%M %p";
		type: "periodic";
		interval: 2;
		command-button1: "~/.config/yabar/scripts/calendar.sh";

		align: "right";
		fixed-size: 250;
		foreground-color-rgb: 0xfbfed3;
		underline-color-rgb: 0xfe8100;
	}
}
